<html>
  <head>
    <title>namebin</title>
    <link rel='stylesheet'href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body class="index">
    <h1>namebin</h1>
    <div class="col">
      <form id="form">
          <input type="text" placeholder="first name" id="firstname" name="firstname"/><br/>
          <input type="text" placeholder="last name" id="lastname" name="lastname"/><br/>
          <button id="send">Send</button>
      </form>
      <pre id="log"></pre>
    </div>
    <div class="col">
      <table id="results">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </body>
</html>