<html>
  <head>
    <title>namebin</title>
    <link rel='stylesheet'href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>namebin</h1>
    <input type="text" placeholder="first name" name="firstname"/><br/>
    <input type="text" placeholder="last name" name="lastname"/><br/>
    <button>Send</button>
  </body>
</html>